//npx tailwindcss -i ./public/stylesheets/input.css -o ./public/stylesheets/output.css --watch
doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="/stylesheets/output.css")

  body.w-full(style="background-color: #FFDEE9; background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%")
    block content
